.DS_Store
.build/
.swiftpm/
DerivedData/
DerivedData*/
build/
*.xcuserstate
xcuserdata/
*.xcresult/
*.ipa
*.mobileprovision
*.p12
*.cer
.env*
!/.env.example
qa-output/
*Phone.xcodeproj/
*iPhone.xcodeproj/
